@{
    ViewBag.Title = "A Propos ";
}

<div class="media">
    <div class="media-body">
        <h1 class="text-info">Maison des Ligues de Lorraine</h1>
        La Maison des Ligues de Lorraine (M2L) a pour mission de fournir des espaces et des services aux différentes ligues sportives régionales et à d’autres structures hébergées. La M2L est une structure financée par le Conseil Régional de Lorraine dont l'administration est déléguée au Comité Régional Olympique et Sportif de Lorraine (CROSL).
    </div>
</div>