
@{
    ViewBag.Title = "Fredi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PROJET FREDI – FRAIS DE DEPLACEMENT ET REMISE D’IMPOTS</h2>

<iframe src="@Url.Action("GetPDF")" width="900" height="1000"></iframe>