@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maison des Ligues de Lorraine</h1>
    <p class="lead">Notre mission, fournir un espace et un services aux différents ligues sportives régionales ! </p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">En savoir plus &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>VALRES</h2>
        <p>
            Besoin d'une salle pour votre événement associative ? Réserver-le !
        </p>
        <p><a class="btn btn-default btn-group-justified" href="~/Home/Valres">En savoir plus &raquo;</a></p>
    </div>
    
    <div class="col-md-6">
        <h2>FREDI</h2>
        <p>Gérer vos notes de frais avec l'application bureau FREDI</p>
        <p><a class="btn btn-default btn-group-justified" href="~/Home/Fredi">En savoir plus &raquo;</a></p>
    </div>

</div>