@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Maison des Ligues de Lorraine</h1>
    <p class="lead">Notre mission, fournir un espace et un services aux différents ligues sportives régionales ! </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VALRES</h2>
        <p>
            Besoin d'une salle pour votre événement associative ? Réserver-le !
        </p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>FREDI</h2>
        <p>Gérer votre frais de note avec l'application bureau FREDI</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>