
@{
    ViewBag.Title = "Valres";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Projet ValRes – Validation de l'application web de réservation de salles</h2>

<h3>Constat</h3>
    L'application web de réservations de salles vient d'être mise à jour suivant la dernière version de la solution logicielle mrbs sur laquelle elle se base.<br /> Le déploiement de cette nouvelle version doit être précédé d'une validation de l'application.

<h3>Outils à disposition</h3>
    Le prestataire dispose d'un fichier archive regroupant les scripts de l'application web et ceux de la base de données associée. <br /> Il dispose également du dossier des tests de l'application web à valider.

<h3>La mission</h3>
<p>
    <h4>La mission comporte les tâches suivantes :</h4>

    <h5>Première étape.</h5>
    Installation d'un environnement de tests.
    Vérification des conditions d'utilisation de la solution logicielle mrbs.
    Installation de l'application web de réservation de salles.

    <h5>Seconde étape.</h5>
    Elaboration d'un jeu d'essai de réservations respectant les contraintes spécifiées dans le dossier de tests.
    Passage des tests du dossier de tests avec consignation des résultats.

    <h4>Réception</h4>

    Dossier de tests complété du jeu d'essai de réservations et des résultats de tests.

</p>
<div class="col-lg-6">
    <p><a class="btn btn-default btn-group-justified btn-success" href="~/Home/Valres">Cliquez-ici pour une démo &raquo;</a></p>
</div>
<div class="col-lg-6">
    <p><a class="btn btn-default btn-group-justified btn-success" href="https://github.com/Ganesh0007/Valres">Cliquez-ici pour le code source &raquo;</a></p>
</div>